@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-bold_1-webfont.woff2') format('woff2'),
       url('/fonts/roboto-bold_1-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-light_1-webfont.woff2') format('woff2'),
       url('/fonts/roboto-light_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'),
       url('/fonts/roboto-lightitalic_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'roboto', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  line-height: 1.42;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h2 {
  font-size: 49px;
  line-height: 36px;
  padding-bottom: 10px;
  color: #262424
}

a {  
  text-decoration: none;
}

.header, .footer {
  background-color: #5973b1;
}

.header {
  margin-bottom: 13px;
}

.header__content,
.footer__content {
  height: 76px;
}

.container {
  width: 1100px;
  margin: 0 auto;
  position: relative;
  font-size: 0px;
}

/* ### HEADER ### */

.header .logo {
  position: absolute;
  top: 20px;
  left: 20px;
}

.contacts {
  position: absolute;
  text-align: right;
  font-weight: 700;
  top: 15px;
  right: 20px;
}

.contacts__phone {
  font-size: 21px;
  line-height: 25px;
  color: #fff;
}

.contacts__workhours {
  font-size: 14px;
  color: #d4ddf2;
  text-decoration: underline;
}

.contacts__workhours:hover {
  color: #fff;
}

.content,
.sidebar {
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  width: 199px;
  margin-top: 32px;
}

/* ### Menu ### */

.menu__list {
  padding-left: 21px;
}

.menu__item {
  margin-bottom: 29px;
}

.menu__link {
  color: #5972b1;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu__link:before {
  content: "";
  display: inline-block;
  margin-right: 13px;
  width: 23px;
  height: 18px;
  background: left center / contain no-repeat;
  vertical-align: middle;
}

.menu__item--active .menu__link,
.menu__link:hover {
  color: #262424;
}

.menu__item--icon--main .menu__link:before {
  background-image: url("/images/icons/menu/main.png");
}

.menu__item--icon--main .menu__link:hover:before {
  background-image: url('/images/icons/menu/main-hover.png');
}

.menu__item--icon--main.menu__item--active .menu__link::before {
  background-image: url('/images/icons/menu/main-hover.png');
}

.menu__item--icon--team .menu__link:before {
  background-image: url('/images/icons/menu/team.png');
}

.menu__item--icon--team .menu__link:hover:before {
  background-image: url('/images/icons/menu/team-hover.png');
}

.menu__item--icon--team.menu__item--active .menu__link::before {
  background-image: url('/images/icons/menu/team-hover.png');
}

.menu__item--icon--reviews .menu__link:before {
  background-image: url('/images/icons/menu/reviews.png');
}

.menu__item--icon--reviews .menu__link:hover:before {
  background-image: url('/images/icons/menu/reviews-hover.png');
}

.menu__item--icon--reviews.menu__item--active .menu__link::before {
  background-image: url('/images/icons/menu/reviews-hover.png');
}

.banner__image {
  margin-bottom: 8px;
}

.content {
  width: 865px;
  margin-right: 35px;
}

/* ### Features ### */

.features {
  width: 100%;
  margin-bottom: 58px;
}

.features__list,
.socials__list,
.pagination {
  font-size: 0;
}

.features__title {
  margin-top: 0px;
  margin-bottom: 26px;
}

.features__item {
  display: inline-block;
  width: 250px;
  text-align: center;
  font-size: 18px;
  margin-right: 18px;
}
.feeds__item:last-child {
  margin-right: 0;
}

.features__logo-wrap {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: #5972b1;
  margin: 40px auto 30px auto;
  position: relative;
}

.features__item-title {
  font-size: 11px;
  line-height: 12px;
  color: #262626;
  font-weight: 700;
  margin: 0 0 18px;
  letter-spacing: 3px;
}

.features__item--premium.features__item{
  border: 2px solid #e8e8ec;
  border-radius: 5px;
}

.features__item--premium .features__logo-wrap{
  width: 73px;
  height: 73px;
}

.features__item-text {
  color: #262424;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 5px;
}

.features__details-list {
  margin-bottom: 12px;
  padding-left: 28px;
}

.features__details-item {
  text-align-last: left;
  list-style: disc inside;
  line-height: 33px;
  color: #262424;
  font-weight: 300;
}

.features__price {
  font-size: 54px;
  font-weight: 400;
  /* line-height: 45px; */
  color: #252525;
  margin-bottom: 30px;
}

.features__price span {
  font-size: 35px;
  font-weight: bold;
}

/* ### Feeds ### */

.feeds {
  margin-bottom: 59px;
}

.feeds__list {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 66px;
}

.feeds__title {
  margin-top: 0px;
  margin-bottom: 71px;
}

.feeds__item-text {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
}

.feeds__item {
  display: block;
  position: relative;
  margin: 0 0 57px;
}

.feeds__item:last-child {
  margin-bottom: 0px;
}

.feeds__item::after {
    content: '';
    position: absolute;
    width: 880px;
    height: 2px;
    background:#f4f4f4;
    top: 100%;
    left: 0;
    margin: 25px 0 25px;
}
.feeds__item:last-child::after {
  display: none;
}

.feeds__image-wrap {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin-right: 15px;
  vertical-align: top;
}

.feeds__item-content {
  display: inline-block;
  width: 652px;
  position: relative;
}

.feeds__item-content time {
  font-size: 14px;
  font-weight: 300;
  color: #656464;
}

.feeds__item-content h3 {
  font-size: 18px;
  font-weight: 700;
  color: #262424;
  margin: 0 0 10px;
}

.feeds__item-content p {
  font-size: 18px;
  font-weight: 300;
  color: #262424;
  margin: 0;
  line-height: 1.5;
}

/* .feeds__item-date {
  font-size: 14px;
  font-weight: 300;
  color: #656464
} */
/* 
.feeds__item-title {
  font-size: 18px;
  font-weight: 700;
  color: #262424;
  margin: 13px 0 20px;
} */

/* .feeds__item-text {
  font-size: 18px;
  font-weight: 300;
  color: #262424;
  margin: 0;
} */

/* ### Pagination ### */

.pagination {
  text-align: center;
}

[class ^= "pagination__"] {
  display: inline-block;
}

.pagination__item {
  color: #262424;
  font-weight: 700;
}

.pagination__item {  
  vertical-align: middle;
}

.pagination__left, .pagination__right {
  width: 26px;
  height: 26px;
}

.pagination__display,
.pagination__link,
.pagination__left,
.pagination__right {
  font-size: 14px;
  line-height: 26px;
}

.pagination__left {
  color: #bfbebe;
}

.pagination__right {
  color: #262424;
}

.pagination__item--active.pagination__item {
  background-color: #5972b1;
  border-radius: 3px;
}

.pagination__display {
  font-weight: 300;
  color: #656464;
  padding-left: 25px;
  vertical-align: middle;
}

.pagination__link {
  width: 26px;
  height: 26px;
  font-size: 14px;
  color: #262424;
  vertical-align: middle;
}

.pagination__item--active .pagination__link {
  color: #fff;
}

.pagination__controls {
  margin-left: 15px;
}

/* ### FOOTER ### */

.footer {
  color: #fff;
  font-size: 14px;
}

.footer .logo {
  top: 20px;
  left: 490px;
  position: absolute;
}

.copyright,
.socials__title {
  font-size: 14px;
}

.copyright {
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: 300;
  width: 235px;
  height: 50px;
  line-height: 18px;
}

.copyright__link {
  text-decoration: underline;
}

/* ### Socials ### */

.socials {
  position: absolute;
  top: 15px;
  right: 20px;
}

.socials__title {
  font-weight: 700;
  margin-bottom: 8px;
  text-align: left;
}

.socials__item {
  display: inline-block;
  margin-right: 10px;
}

.socials__img, .features__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.socials__img-wrap {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #d4ddf2;
  position: relative;
}

.socials__img-wrap:hover {
  background-color: #fff;
}