@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-bold_1-webfont.woff2') format('woff2'),
       url('/fonts/roboto-bold_1-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-light_1-webfont.woff2') format('woff2'),
       url('/fonts/roboto-light_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'),
       url('/fonts/roboto-lightitalic_1-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'roboto';
  src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'roboto', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 49px;
  line-height: 38px;
  padding-bottom: 10px;
  color: #262424
}

.header, .footer {
  background-color: #5973b1;
}

.header {
  margin-bottom: 13px;
  /* position: relative; */
}

.header__content,
.footer__content {
  height: 77px;
}

.header__content, 
.footer__content,
.page-content {
  width: 1110px;
  margin: 0 auto;
}

.header .logo {
  display: inline-block;
  margin: 20px 0 0 21px;
}

.contacts {
  display: inline-block;
  text-align: right;
  font-weight: 700;
  margin: 20px 21px 0 0;
  float: right;
}

.contacts__phone {
  font-size: 21px;
  color: #fff;
}

.contacts__workhours {
  font-size: 14px;
  color: #d4ddf2;
  text-decoration: underline;
}

.contacts__workhours:hover {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
}

.page-content {
  /* width: 1110px; */
  /* margin: 0 auto; */
}

.sidebar {
  display: inline-block;
  width: 199px;
  vertical-align: top;
  margin-top: 32px;
}

.menu__list {
  margin-top: 0px;
  padding-left: 20px;
}

.menu__title {
  font-size: 12px;
  font-weight: 700;
  display: inline;
  padding-left: 17px;
  text-align: left;
  letter-spacing: 2px;
}

.menu__icon:hover {
  background-color: black;
  color: black;
}

.menu__link {
  display: block;
  color: #5972b1;
}

.menu__link:hover  {
  color: #262424;
}

.menu__link:active  {
  color: #262424;
}

.menu__item {
  display: block;
  margin-bottom: 30px;
}

.banner__image {
  /* display: block; */
  margin-bottom: 8px;
}

.content {
  display: inline-block;
  width: 866px;
  margin-right: 35px;
}

.features__list {
  padding-left: 0px;
  margin-bottom: 61px;
}

.features__title {
  margin-top: 0px;
  margin-bottom: 26px;
}

.features__item {
  display: inline-block;
  width: 30%;
}

.features__logo-wrap {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #5972b1;
  margin: 0 auto 35px auto;
}

.features__logo {
  margin: auto;
}

.features__item-title {
  font-size: 11px;
  color: #262626;
  font-weight: 700;
  margin-bottom: 26px;
  margin-top: 0px;
  letter-spacing: 3px;
  font-weight: 300;
  text-align: center;
}


.features__item:nth-child(2) {
  border: 1px solid #e8e8ec;
  border-radius: 5px;
  padding: 41px 37px 48px 26px;

}

.features__item-text {
  color: #262424;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.features__details-list {
  margin-bottom: 35px;
  /* padding-left: 20px; */
}

.features__details-item {
  text-align-last: left;
  list-style: square;
  line-height: 30px;
  color: #262424;
  font-size: 18px;
  font-weight: 300;
}

.features__price {
  font-size: 54px;
  font-weight: 300;
  line-height: 50px;
  color: #252525;
  text-align: center;
}

.features__price::before {
  content: '$';
  font-size: 30px;
  font-weight: bold;
}

.feeds {
  margin-bottom: 59px;
}

.feeds__list {
  padding-left: 0px;
  margin-top: 0px;
}

.feeds__title {
  margin-top: 0px;
  margin-bottom: 71px;
}

.feeds__item-text {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0px;
}

.feeds__item {
  display: block;
  position: relative;
}

.feeds__item::after {
    content: '';
    position: absolute;
    width: 880px;
    height: 2px;
    background:#f4f4f4;
    top: 100%;
    left: 0;
    /* margin: 25px 0 25px; */
}
.feeds__item:last-child::after {
  display: none;
}

.feeds__image-wrap {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  /* margin-right: 20px; */
}

.feeds__image {
  position: absolute;
  left: -10px;
  top: -10px
}

.feeds__item-content {
  display: inline-block;
  width: 652px;
}

.feeds__item-date {
  font-size: 14px;
  font-weight: 300;
  color: #656464
}

.feeds__item-title {
  font-size: 18px;
  font-weight: 700;
  color: #262424;
  margin: 13px 0 20px;
}

.feeds__item-text {
  font-size: 18px;
  font-weight: 300;
  color: #262424;
  margin: 0;
}

.footer {
  /* vertical-align: bottom; */
}

.footer__content {
  /* width: 1100px; */
  /* margin: 0 auto; */
}

.footer .logo {
  display: inline-block;
  margin-bottom: 19px;
}

.copyright {
  margin: 15px 0 11px 19px;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  width: 235px;
  height: 50px;
  display: inline-block;
  color: #fff
}

.copyright__link {
  text-decoration: underline;
}

.socials {
  display: inline-block;
  float: right;
  margin: 21px 20px 0 0;
}

.socials__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #fff;
  text-align: left;
}

.socials__item {
  display: inline-block;
  margin-right: 9px;
}

.socials__img {
  margin: auto;
}

.socials__list {
  padding: 0px;
  margin-bottom: 14px;
  margin-top: 0px;
}

.socials__img-wrap {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #d4ddf2;
  display: block;
}

.socials__img-wrap:hover {
  background-color: #fff;
}
.pagination {
  text-align: center;
}

[class ^= "pagination__"] {
  display: inline;
  color: #262424;
  font-size: 14px;
  font-weight: 700;
}

.pagination__display {
  font-size: 14px;
  font-weight: 300;
  color: #656464;
  margin-right: 25px;
}

.pagination__list {
  padding-left: 0px;
}

a {  
  text-decoration: none;
}