.banner {
  background-color: #76b46f;
  background-image: url("/images/banners/pattern.png");
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  padding: 40px 230px;
  width: 100%;
  display: flex;
  margin-bottom: 57px;
}

.banner p {
  margin: 0;
}