.features {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.features--less-bottom {
  margin-bottom: 25px;
}

/* .flex__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.features__list {
  display: flex;
}

.fatures__item-header {
  font-size: 18px;
  color: #262424;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 23px;
  margin-bottom: 26px;
}

.features__title {
  font-size: 49px;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 10px;
  color: #262424;
  margin-top: 0px;
  margin-bottom: 28px;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.feeds__item:last-child {
  margin-right: 0;
}

.features__logo {
  width: 68px;
  height: 68px;
  background-color: #5972b1;
  margin-top: 43px;
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.features__item-title {
  font-size: 11px;
  line-height: 12px;
  color: #262626;
  font-weight: 700;
  margin-bottom: 17px;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.features__item--premium .features__item-title {
  margin-bottom: 18px;
}

.features__item--premium {
  border: 1px solid #e8e8ec;
  border-radius: 5px;
}

.features__item--premium .features__logo{
  width: 73px;
  height: 73px;  
  margin-top: 40px;
  margin-bottom: 29px;
}

.features__item-text {
  color: #262424;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 8px;
  text-align: center;
}

.features__details-list {
  margin-bottom: 15px;
  padding-left: 28px;
  width: 100%;
}

.features__details-list--less-bottom {
  margin-bottom: 10px;
  padding-left: 38px;
}

.features__details-item {
  text-align-last: left;
  list-style: disc inside;
  color: #262424;
  font-weight: 300;
  margin-bottom: 9px;
}

.features__details-item:last-child {
  margin-bottom: 0;
}

.features__price {
  font-size: 0;
  color: #252525;
  margin-bottom: 29px;
}

.features__price--less-bottom {
  margin-bottom: 20px;
}

.features__price-currency {
  font-size: 30px;
  font-weight: bold;
  vertical-align: 3px;
}

.features__price-value {
  font-size: 54px;
  font-weight: 400;
}