.form__wrapper {
  font-size: 14px;
  background-color: #f4f4f4;
  padding: 5% 10% 7%;
}

.form {
  padding-left: 18%;
  width: 100%;
  padding-right: 18%;
  margin-bottom: 50px;
}

.form__title {
  font-size: 49px;
  color: #262424;
  font-weight: 700;
  margin-bottom: 9px;
}

.form__content {
  margin-bottom: 18px;
}

.form__row,
.form__buttons-row {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.form__row:last-child,
.form__buttons-row {
  margin-bottom: 0;
}

.form__col {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 20px;
}

.form__col:last-child {
  margin-right: 0;
}

.form__input {
  border: 1px solid transparent;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 3px;
  background: #fff;
  width: 100%;
}

.form__input:focus {
  outline: none;
  border-color: #5972b1;
}

.form__input--textarea {
  resize: vertical;
  padding: 5px 8px;
}

.form__element-title,
.switch-controls {
  font-size: 14px;
  font-weight: 300;
  color: #262424;
  margin-bottom: 5px;
}


.form__button-submit {
  border-radius: 3px;
  background-color: #5972b1;
  padding: 0;
}

.form__button-text {
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 700;
  padding: 15px 20px;
  text-transform: uppercase;
  display: flex;
}

.form__button-text:after {
  content: "";
  margin-left: 11px;
  width: 15px;
  height: 14px;
  background: center center / contain no-repeat;
  background-image: url("/images/icons/buttons/arrow.png");
}

.switch-controls__buttons {
  display: flex;
}

.switch-controls__element {
  display: flex;
  margin-right: 20px;
  align-items: center;
  position: relative;
  padding-left: 26px;
}

.switch-controls__element:last-child {
  margin-right: 0;
}

.switch-controls__title {
  margin-bottom: 8px;
  line-height: 1;
}

.switch-controls__element-radio {
  display: none;
}

.switch-controls__element-title:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-image: linear-gradient(0deg, #ececec, #fff 100%);
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  content:"";
}

.switch-controls__element-radio:checked + .switch-controls__element-title:before {
  content: "\2022";
  color: #5972b1;
  font-size: 50px;
  text-align: center;
  line-height: 18px;
  background-image: linear-gradient(180deg, #ececec 0%, #fff 100%);
}
