.header {
  background-color: #5973b1;
  margin-bottom: 13px;  
  padding-top: 20px;
  padding-bottom: 14px;
}

.header--increase-mb {
  margin-bottom: 25px;
}

.header__left,
.header__right {
  width: 50%;
}