.header {
  background-color: #5973b1;
  margin-bottom: 13px;  
  padding-top: 20px;
  padding-bottom: 14px;
}

.header__left,
.header__right {
  width: 50%;
}

.header__left {
  padding-left: 21px;
}

.header__right {
  padding-right: 20px;
}
