.intro-wrapper {
  height: 100vh;
  background: url("/images/background/bg-plain.png") center center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  background-color:#fff;
}

.intro__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: introAnimation .7s forwards;
  animation-delay: 1s;
  opacity: 0;
}

.intro__logo {
  margin-bottom: 36px;
}

.intro__link {
  color:  #1c5bc4;
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 3px;
  font-weight: 700;
  padding: 13px 21px;
  text-transform: uppercase;
  display: flex;
  text-decoration: none;
  border: 1px solid #1c5bc4;
  transition: background-color .5s, border-color .5s, color .5s;
  background-color: transparent;
}

.intro__link:hover {
  color: #fff;
  background-color: #1c5bc3;
}

.intro__link:after {
  content: "";
  margin-left: 11px;
  width: 15px;
  height: 14px;
  background: url("/images/icons/buttons/button_icons.png") -30px -5px;
}

.intro__link:hover:after {
  background: url("/images/icons/buttons/button_icons.png") -5px -5px;
}

@keyframes introAnimation {
  0% {
    opacity: 0.3;
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(-15px);
  }

  70% {
    transform: translateY(0);
  }

  85% {
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}