.partners {
  display: flex;
  flex-direction: column;
  margin-bottom: 41px;
}

.partners--bordered {
  border: 1px solid #e8e8ec;
  padding: 0 54px;
}

.partners__title {
  font-size: 49px;
  color: #262424;
  font-weight: 700;
  margin-bottom: 45px;
  line-height: 1;
}

.partners__title--vertical {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 35px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.partners__list--vertical {
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
}

.partners__item {
  margin-bottom: 20px;
}

.partners__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  margin: 0 60px 40px;
  width: 161px;
  height: 64px;
  transition: filter 1s;
}

.partners__item-img--vertical {
  width: 77%;
  height: auto;
  margin: 0;
}

.partners__item-img:hover,
.partners__item--active .partners__item-img{
  filter: none;
}
