.partners {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.partners__title {
  font-size: 49px;
  color: #262424;
  font-weight: 700;
  margin-bottom: 40px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.partners__item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
  margin: 0 68px 40px;
  width: 161px;
  height: 64px;
}

.partners__item-img:hover {
  filter: none;
}
