.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.socials__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: left;
}

.socials__title--blacked {
  color: #2d2222;
  margin-bottom: 6px;
}

.socials__list {
  padding-left: 2px;
  display: flex;
}

.socials__list--centered {
  justify-content: center;
}

.socials__item {
  margin-right: 10px;
}

.socials__item--without-margin {
  margin-right: 5px;
}

.socials__item--without-margin:last-child {
  margin-right: 0;
}


.socials__logo {
  width: 20px;
  height: 20px;
  background-color: #d4ddf2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 1s;
}

.socials__logo--transparent {
  background-color: transparent;
}

.socials__logo:hover {
  background-color: #fff;
}

.socials__logo--transparent:hover {
  background-color: transparent;
}
