body {
  font-family: 'roboto', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-size: 16px;
  line-height: 1.42;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {  
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.wrapper {
  overflow: hidden;
  min-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  margin-right: 21px;
  flex: 0.95;
}

.page-content {
  flex: 3;
}