.form {
  padding-left: 18%;
  flex: 1;
  padding-right: 18%;
  margin-bottom: 50px;
}

.form--changed-paddings {
  padding-left: 25.5%;
  padding-right: 8.5%;
  margin-bottom: 48px;
}

.form__wrapper {
  font-size: 14px;
  font-weight: 300;
  color: #262424;
  background-color: #f4f4f4;
  padding: 5% 10% 7%;
}

.form__wrapper--rounded {
  border-radius: 3px;
  padding: 4.5% 12.7% 6.3%;
}

.form__title {
  font-size: 49px;
  font-weight: 700;
  margin-bottom: 9px;
}

.form__content {
  margin-bottom: 18px;
}

.form__row,
.form__buttons-row {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.form__row:last-child,
.form__buttons-row {
  margin-bottom: 0;
}

.form__col {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 20px;
}

.form__col:last-child {
  margin-right: 0;
}

.form__input {
  border: 1px solid transparent;
  padding: 15px 10px;
  border-radius: 3px;
  background: #fff;
}

.form__input:focus {
  outline: none;
  border-color: #5972b1;
}

.form__input--textarea {
  resize: vertical;
  padding: 5px 8px;
}

.form__element-title,
.switch-controls {
  margin-bottom: 5px;
}

.form__button {
  border-radius: 3px;
  padding: 0;
  transition: background-color .5s, color .5s;
}

.form__button--submit {
  background-color: #5972b1;
  border: none;
}

.form__button-text {
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 700;
  padding: 16px 21px;
  text-transform: uppercase;
  display: flex;
}

.form__button-text:after {
  content: "";
  margin-left: 11px;
  width: 15px;
  height: 14px;
  background: url("./../../images/icons/buttons/button_icons.png") -5px -5px;
}

.form__button--submit:hover {
  background-color: #fff;
}

.form__button--submit:hover .form__button-text {
  color: #5972b1;
}

.form__button--submit:hover .form__button-text:after {
  background-position: -30px -5px;
}

.switch-controls__buttons {
  display: flex;
}

.switch-controls__element {
  display: flex;
  margin-right: 20px;
  align-items: center;
  position: relative;
  padding-left: 26px;
}

.switch-controls__element:last-child {
  margin-right: 0;
}

.switch-controls__title {
  margin-bottom: 8px;
  line-height: 1;
}

.switch-controls__element-radio {
  display: none;
}

.switch-controls__element-title:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-image: linear-gradient(0deg, #ececec, #fff 100%);
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  content:"";
}

.switch-controls__element-radio:checked + .switch-controls__element-title:after {
  position: absolute;
  top: 7px;
  left: 8px;
  content: ""; 
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #5972b1;
}
