.listed-items {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.listed-items--vertical {
  margin-bottom: 46px;
}

.listed-items__title {
  margin-top: 0px;
  margin-bottom: 71px;
  font-size: 49px;
  line-height: 36px;
  padding-bottom: 10px;
  color: #262424;
  font-weight: 700;
}


.listed-items--vertical .listed-items__title {
  margin-bottom: 38px;
}

.listed-items--reviews .listed-items__title {
  margin-bottom: 40px;
  margin-top: 13px;
}

.listed-items__list {
  display: flex;
  margin-bottom: 52px;
  flex-direction: column;
}

.listed-items--vertical .listed-items__list {
  flex-direction: row;
  margin-bottom: 44px;
}

.listed-items--reviews .listed-items__list {
  margin-bottom: 40px;
}

.listed-items__item {
  display: flex;
  margin-bottom: 30px;
}

.listed-items--vertical .listed-items__item {
  margin-bottom: 0;
  margin-left: 25px;
  flex: 1;
}

.listed-items--reviews .listed-items__item {
  margin-bottom: 30px;
}

.listed-items__item:last-child {
  margin-bottom: 0px;
}

.listed-items--vertical .listed-items__item:first-child {
  margin-left: 0px;
}

.listed-items__item:last-child .listed-items__item-wrap {
  padding-bottom: 0;
  border: none;
}

.listed-items__item-wrap {
  width: 97%;
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 19px;
  display: flex;
}

.listed-items--vertical .listed-items__item-wrap {
  margin-bottom: 0;
  flex-direction: column;
  border-bottom: none;
  padding-bottom: 0;
  width: auto;
  align-items: center;
}

.listed-items--reviews .listed-items__item-wrap {
  padding-bottom: 18px;
  padding-left: 7px;
  width: auto;
}

.listed-items__image {
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.listed-items__image--bigger {
  width: 171px;
  height: 171px;
}

.listed-items__image--bigger img {
  width: 100%;
  height: 100%;
}

.listed-items--vertical .listed-items__image {
  margin-right: 0;
  margin-bottom: 46px;
}

.listed-items--reviews .listed-items__image {
  margin-right: 0;
  flex: 1;
}

.listed-items__item-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  color: #262424;
  font-weight: 300;
}

.listed-items--vertical .listed-items__item-content {
  width: auto;
}

.listed-items--reviews .listed-items__item-content {
  width: auto;
  padding-left: 23px;
  flex: 4;
}

.listed-items__item-content time {
  font-size: 14px;
  color: #656464;
  line-height: 1;
}

.listed-items__item-content h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 4px 0 8px;
}

.listed-items__item-content p {
  font-size: 18px;
  margin: 0;
  line-height: 30px;
}

.listed-items--vertical p {
  font-size: 14px;
  line-height: 21px;
}

.listed-items--vertical h3 {
  margin: 6px 0 7px;
  line-height: 21px;
}