.team {
  display: flex;
  flex-direction: column;
  margin-bottom: 77px;
  color: #262424;
}

.team__title {
  font-size: 49px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 45px;
}

.team__title--top-margin {
  margin-top: 27px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__member {
  flex-basis: 32%;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.team__member:nth-child(-n+3) {
  margin-bottom: 7%;
}

.team__member:nth-child(n+3){
  margin-bottom: 0px;
}

.team__member-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.team__member-img {
  width: 160px;
  height: 160px;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.team__member-img--bordered {
  border: 4px solid #637bb6;
  box-sizing: content-box;
}

.team__member:first-child .team__member-img--bordered{
  border: 4px solid transparent;
}

.team__member-img::after {
  height: 100%; 
  content: "";
  width: 100%; 
  position: absolute; 
  background-color:rgba(89, 114, 177, 0.5);
}

.team__member-fullname {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.team__member-post {
  color: #5972b1;
  margin-bottom: 7px;
}

.team__member-desc {
  font-weight: 300;
  line-height: 21px;
  margin: 0;
}

.team__member-name {
  position: absolute;
  color:#fff;
  font-size: 24px;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}